// de aqui abajo son las del componente header 
.card {
    width: width;
    height: 'auto';
    background-color: 'white';
  }
  .header {
    width: width;
    height: 'auto';
    justify-content: 'center';
    align-items: 'center';
    flex-direction: 'row';
    padding:15px;
    background-color: #111d2c;
  }
  .headerText {
    font-size: 20;
    font-weight: 600;
    color:antiquewhite;
  }
  .name {
    font-size: 15;
    color: white;
  }