.container {
  flex: 1;
  background-color: #f8f6f7;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  background-color: #121e2f;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.bannerText {
  color: white;
  font-weight: bold;
}
