// Aca abajo vienen los de section divider
.containerSection {
  width: 100%;
  background-color: rgba(17, 29, 44, 0.4);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
