.container {
  flex: 1;
  background-color: white;
  padding: 5px;
}
.bottomView {
  height: auto;
  align-items: center;
  background-color: #f8f6f7;
}
.banner {
  border-radius: 100px;
  padding: 10px;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bannerText {
  color: #000000;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}
