.container {
  flex: 1;
  background-color: white;
  padding: 20px 0 50px 0;
}
.bottomView {
  height: auto;
  align-items: center;
  background-color: #f8f6f7;
}
.banner {
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.bannerText {
  font-size: 15px;
  color: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
